.container{
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color: transparent;
}
@font-face {
  font-family: 'coco';
  src: local('coco'), url(../font/Mont-HeavyDEMO.otf) format('truetype');
}
.coco{
  font-family:'coco';
  color: #4d3b24;
}
.hide{
  display:none !important;
}
*{
  box-sizing: border-box;
}
.question_text{
    z-index: 1;
    font-size: 2vw;
    padding: 6% 7%;
    line-height: 1.5;
    padding-top:10%;
    letter-spacing:0.15vw;
    color: #4d3b24;
}
.green{
  color: #4CAF50;
}
.question_title{
  z-index: 1;
  font-size: 1.3vw;
  padding: 6% 7%;
  line-height: 2;
  width:100%;
  text-align:center;
}
.text-color{
  color: #4d3b24;
}
.question_text img{
  width:13%;
  vertical-align: bottom;
}
.absolute{
  position: absolute;
  left:0;
  top:0;
}
.vertical_center{
  width:24%;
  top:45.4%;
}
.input{
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 1.3vw;
      width: 64%;
      left: 17% !important;
      padding: 1.3% 2%;
      z-index:1;
      text-align:left !important;
      color:#333;
}
.full_center{
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color:#fff;
  width:100%;
  height:100%;
  overflow: hidden;
}
.hover_scale{
  transition:transform .2s;
}
.hover_scale:hover{
  transform:scale(1.3);
}
.full_center img{
  width:30%;
  top:30%;
}
.full-width{
  width:100%;
}

.pointer{
  cursor: pointer;
}
.row{
  width:100%;
}
.row .img_left{
  left:7%;
  width:40%;
}
.row .img_right{
  right:8%;
  width:40%;
  left:initial;
}
.col-md-2{
  width: calc(100% / 2);
  margin:10px;
  text-align: center;
}
.center{
  text-align: center;
  margin: auto;
  display:block;
  position:absolute;
  margin: auto;
  left:0;
  right:0;
}
.bottom-right{
  left:initial;
  bottom:5%;
  right:5%;
}
.ans_box_container{
  left:10%;
  top:33%;
  width:100%;
  height:8%;
}
.placeholder_box{
  top:initial;
  bottom:23%;
  width:12%;
  left:-6%;
  height:10%;
  z-index:2;
}
.placeholder_box img{
  z-index:0;
}
.placeholder_box.filled{
  bottom:21.5%;
  width: 8%;
  left:-6%;
}
.placeholder_box.filled .text-white{
  padding-top:15%;
}
.text-white{
  color:#fff;
}
::selection { background: transparent; }
::-moz-selection { background: transparent; }
.ans_box_container .ans_box{
  width:8.3%;
  cursor: pointer;
  height:100%;
  z-index:2;
  transition:all 0.1s linear;
}
.ans_box_container .ans_box .text{
  color:#fff;
  padding-top:10%;
  font-size:2vw;
  text-shadow:2px 2px 0px #4d3b24;
}
.dummy_placer{
  display:none;
}
.dummy_placer.show{
  display:initial;
}
.dummy_placer .text-white{
    color: #fff;
    padding-top: 20% !important;
    font-size:2vw;
    text-shadow: 2px 2px 0px #4d3b24;
}
@media print{
  .prevent_print{
    display:none;
  }
}
.correct_ans{
    background:transparent;
    margin-left: -10%;
    font-size: 1.9vw;
    padding: 0.3% 0%;
    margin-right: 4%;
    color: #4CAF50;
    display:none;
}
.show .correct_ans{
  display:inline;
}
.report_table{
  width: 60%;
  right: 0;
  left: -2% !important;
  top: 37% !important;
  height: 50%;
  margin: auto;
  list-style: none;
  padding: 0;
}
.report_table li{
  position:absolute;
  left:0;
  width:100%;
  height:11%;
  padding-left:6%;
}
.speaker{
  width: 4%;
  left: 1% !important;
  top: 10% !important;
  z-index: 10;
}
.report_table .text_box{
  position:absolute;
  padding-left:7%;
  top:15%;
  width:100%;
  color:#fff;
  font-size:1vw;
}
.sr_no{
  left:-4%;
  top:20%;
  font-size:1vw;
}
.text_box_answer{
  left:initial !important;
  right:-5% !important;
  font-size: 1.3vw;
  top:20% !important;
}
